@import "../common";

.calculator {
	&-container {
		width: 90%;
		margin: 0 auto;
		padding: 5px;
		margin-top: 10px;
	}

	&-block {
		float: left;
	}

	&-steps {
		width: 30%;
		padding: 10px 20px;
		border: 1px solid #A4A4A4;
		border-radius: 10px;
		margin-left: 20px; 
		margin-right: 20px;
	}

	&-description {
		width: 50%;
		padding: 10px 0px;

		&__para {
			margin-top: 5px;

			&-bold {
				font-weight: $bold;
			}
		}
	}

	&-aside {
		width: 120px;
		height: 240px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}