@import "common";

$header-ht: 50px;

.header {
	display: block; height: $header-ht;
	position: fixed;
	top: 0; left: 0; right: 0;
	padding:0 20px;
	background-image: url("../images/header_bg.gif");
	background-repeat: no-repeat;
	background-size: 100% 100%; 

	&__title {
		font-weight: $middle;
		display: inline-block;
		font-size: 24px;
		line-height: 32px;
	}

}